services:
  # Frontend Static Site
  - type: web
    name: quality-pulse-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: out
    envVars:
      - key: VITE_FIREBASE_API_KEY
        fromValue: AIzaSyDEAOr3iqU6TJZ6uztMvC5mquZECPcBkkE
      - key: VITE_FIREBASE_AUTH_DOMAIN
        fromValue: fir-config-d3c36.firebaseapp.com
      - key: VITE_FIREBASE_PROJECT_ID
        fromValue: fir-config-d3c36
      - key: VITE_FIREBASE_STORAGE_BUCKET
        fromValue: fir-config-d3c36.firebasestorage.app
      - key: VITE_FIREBASE_MESSAGING_SENDER_ID
        fromValue: 477435579926
      - key: VITE_FIREBASE_APP_ID
        fromValue: 1:477435579926:web:d370e9fb5a3c5a05316f37
      - key: NEXT_PUBLIC_API_URL
        sync: false

  # Backend Web Service
  - type: web
    name: quality-pulse-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm run start:backend
    envVars:
      - key: MONGODB_URI
        fromValue: mongodb+srv://admin:admin123@cluster0.66pozh2.mongodb.net/quality_pulse?retryWrites=true&w=majority
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: PORT
        value: 5000
